/*div{
    background-color: #FCE2DB;
}*/

body{
    margin: 0px;
}

h1{
    text-align: center; 
    font-family: cursive;
    color: purple;
    font-size: 70px;
    margin: 10px auto 0 auto;
}
p{
    text-align: center;
    font-family: cursive;
    color: purple;
    font-weight: bold;
}
h2{
    text-align: center; 
    font-family: cursive;
    color: purple;
    font-weight: bold;
}
.text{
    text-align: center; 
    font-family: cursive;
    color: purple;
    border: 0;
}
ul{
    display: inline-block;
    color: purple ;
    margin-top: 0px;
    font-family: cursive;
    font-weight: bold;
}


.top{
    background-color: #FCE2DB ;
    height: 400px;
    
}
.middle{
    background-color: #e7fcdb ;
    text-align: center;
    height: 530px;
}
.bottom{
    background-color: #dbf1fc ;    
    text-align: center;
    padding-top: 10px;
}
.baby{
    position: relative;
    left: 400px;
    top: 10px;
}
.rattle{
    position: relative;
    left: 950px;
    bottom: 50px;
}
/*.heart{
    position: relative;
    left: 650px;
    
}
.rattlebow{
    position: relative;
    left: 600px;
    
}*/